body
{
    background-color: #343a40;
    color: white;
}

header
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#hearder-center
{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    border-bottom: white solid 2px;
    margin: 50px 0;
}

#marge
{
    border: white solid 1px;
    width: 90px;
    height: 70px;
    margin-right: 199px;
    text-align: center ;
}
#marge span
{
    font-family: Mulish;
    font-size: 50px;
    color: #fff;

}

main
{
    display: flex;
}
#formulario
{
    display: flex;
    border: white solid 2px;
    width: 375px;
    padding: 5px 10px;
}
#cards-container
{
    border:aquamarine solid 2px;
    width: 1070px;
    padding: 30px;
}
#row
{
    display: flex;
    justify-content: space-around;
}